.box1{
    width: 500px;
    height: 80px;
    background-color:rgb(123, 29, 29);
    text-align: left;
    border: 2px solid black;
}
.box2{
    width: 500px;
    height: 80px;
    background-color: rgb(131, 97, 97);
    text-align: left;
    border: 2px solid black;
}
img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.box3{
    width: 500px;
    height: 80px;
    background-color: rgb(131, 97, 97);
    text-align: left;
    border: 2px solid black;
    display:inline-block;
nav{
    display: flex;
    
}